<!DOCTYPE html>
<html lang=en>
  <head>
    <meta charset=utf-8>
    <title>tryme</title>

    <link rel="stylesheet" href="/codemirror/css/codemirror.css" />
    <link rel="stylesheet" href="/codemirror/css/solarized.css" />

    <!-- application style -->
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/js-editor.css" />
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>

    <div id="js-editor">
    </div>

    <script src=/codemirror/codemirror.js></script>
    <script src=/codemirror/mode/javascript.js></script>

    <script id="src" type="text/orig">{{body}}</script>
    <script>{{script}}</script>
  </body>
</html>
