<!DOCTYPE html>
<html lang=en>
  <head>
    <meta charset=utf-8>
    <title>tryme</title>

    <link rel="stylesheet" href="/codemirror/css/codemirror.css" />
    <link rel="stylesheet" href="/codemirror/css/solarized.css" />

    <!-- application style -->
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>

    <script src=/codemirror/codemirror.js></script>
    <script src=/codemirror/mode/javascript.js></script>

    <!-- load main app file -->
    <script src="/tryme-main.js"></script>
  </body>
</html>
