<!DOCTYPE html>
<html lang=en>
  <head>
    <meta charset=utf-8>
    <title>tryme</title>

    <link rel="stylesheet" href="/codemirror/css/codemirror.css" />
    <link rel="stylesheet" href="/codemirror/css/solarized.css" />

    <link rel="stylesheet" href="/css/normalize.css" />
    <link rel="stylesheet" href="/css/syntax/github.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>

    <div class="center">
      <div class="container">
        <div class="markdown">
          {{body}}
        </div>
      </div>
    </div>

    <script src=/codemirror/codemirror.js></script>
    <script src=/codemirror/mode/javascript.js></script>

    <script>{{script}}</script>
  </body>
</html>
